#home {
  display: flex;
  align-items: center;
  padding: 100px 0;
  height: 100vh; /* Full viewport height */
  color: white; /* Adjust text color for better visibility */
}

#home .content-wrapper {
  display: flex;
  justify-content: flex-start; /* Align content to the left */
  align-items: center;
  width: 100%;
  padding: 20px;
  text-align: left;
}

#home .text-box {
  max-width: 600px; /* Limits the width of the text box */
}

#home h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#home p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #333; /* Adjust text color */
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-primary:hover {
  background-color: #ff6347;
}

.btn-secondary {
  background-color: #ff6347;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #333;
}